#img1 {
  object-fit: cover;
  width: 300px;
  height: auto;
  margin: 20px auto;
  align-self: center;
  border-radius: 10px;
}

.team-members .title {
  font-size: 40px;
  text-align: center;
}

.members {
  display: flex;
  flex-direction: row; /* This will arrange the children horizontally */
  flex-wrap: wrap; /* This will wrap the children to the next line if there's not enough space */
  justify-content: center; /* This will center the children horizontally */
  width: 100%;
}

member img {
  filter: invert(1);
  margin: 5px;
  width: 20px;
}

member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 20%;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  #img1 {
    width: 100%;
    height: auto;
    margin: 10px auto;
    border-radius: 0;
  }
}
