@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.light {
  --text-color: #1d1d1f;
  --bg-color: white;
}

.dark {
  --text-color: #ffffff;
  --bg-color: #0E131F;
}

* {
  --primary-color: #27c2fc;
  --primary-gradient: linear-gradient(157deg, rgba(39,194,252,1) 0%, rgba(32,224,190,1) 100%);
  box-sizing: border-box;
  background-color: var(--bg-color);
}

a {
  color: var(--text-color);
}

body {
  margin: 0 auto;
  max-width: 1400px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: var(--text-color);
}

#sea-logo {
  width: 100px;
}

#active {
  border-bottom: 3px solid var(--primary-color);
}

#blue {
  color: var(--primary-color);
}

.button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid var(--text-color);
  transition: all 500ms;
}

.button:hover {
  color: white;
  background: black;
  outline: 2px solid black;
}

.btn-arrow {
  gap: 10px;
  display: flex;
  fill: var(--text-color);
  align-items: center;
}

.btn-arrow:hover * {
  color: var(--primary-color);
  fill: var(--primary-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

nav .right {
  display: flex;
  list-style: none;
  gap: 30px;
  text-transform: capitalize;
  font-weight: 500;
}

nav .right a {
  text-decoration: none;
  color: var(--text-color)
}

nav .right a:visited {
  color: var(--text-color)
}

nav .right li {
  border-bottom: 3px solid transparent;
}

nav .right li:hover {
  border-bottom: 3px solid var(--primary-color);
}
