.hero {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
}

.hero .content {
  max-width: 600px;
  padding: 20px;
  margin: auto 0;
}

.hero .title {
  line-height: 1;
  margin-block: 0;
  font-size: 50px;
  text-transform: uppercase;
}

.hero .pre-title {
  line-height: 1;
  margin-block: 0;
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
}

.hero .anchors {
  display: flex;
  gap: 30px
}

.hero .anchors a {
  text-transform: capitalize;
  text-decoration: none;
}

.hero .delta-in-triangle img {
  width: min(80vw,400px);
}

@media (max-width: 1060px) {
  .hero {
    flex-direction: column-reverse;
  }
  
  .hero .content {
    width: 100%;
  }

  .hero .delta-in-triangle {
    position: relative;
  }

  .hero .delta-in-triangle {
    margin: auto;
  }
}

.about {
  padding: 20px;
  max-width: 1030px;
  margin: 0 auto;
}

.about .title {
  font-size: 40px;
  margin-block: 0;
  line-height: 1;
}